<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url('../../Image/fondo acuarela-pastel.jpg');
            background-position: center;
            background-size: 310vh;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color: mediumturquoise">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img alt="searchPage" style="align-items" height="50px" src="~/Image/Pharmacy icon.png" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Principal", "Index", "Home")</li>
                    <li>@Html.ActionLink("Producto", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <style type="text/css">
            .border {
                background-color: mediumturquoise;
                text-align: center;
                height: 30px;
                color: black;
                font-size: 20px;
            }
        </style>
        <div class="container">
                <div class="border"><p>Farmacia Oruro - Todos los derechos reservados</p></div>
                <p style="text-align: center; font-size: 16px; color:black">OruroPharmacy - @DateTime.Now.Year</p>
        </div>        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
