@model Pharmacy.Models.Product
@{
    ViewBag.Title = "Reservas";
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Js/alertify.min.js"></script>
<link href="~/Css/alertify.core.css" rel="stylesheet" />
<link href="~/Css/alertify.default.css" rel="stylesheet" />
@*@{var getprod = ViewBag.product as IEnumerable<Pharmacy.Models.Product>;}*@
<script type="text/javascript">

    $(document).ready(function () {

        $("a[rel='pop-up']").click(function () {
            var caracteristicas = "height=550,width=1000,scrollTo,resizable=1,scrollbars=1,location=0";
            nueva = window.open(this.href, 'popup', caracteristicas);


            return false;
        });
        //botones
        $("#finalizar").click(function () {
            //alertify.alert("Boton Iniciado");
            //console.info('hola');
            var i = 0;
            var envio = "{Fecha:'" + $("#id_fecha").val() + "',ModoPago:'" + $("#modoPago").val() + "',IdCliente:'" + $("#txtId").val() + "',IdCabecera:'2',Total:'" + $('#TotalaPagar').val() + "',";
            $("#detalle tbody tr").each(function (index) {
                if (i == 0) {
                    envio += "ListadoDetalle:[{Id:'" + $(this).find('td').eq(0).text() +
                        "',Quantity:'" + $(this).find('td').eq(2).text() +
                        "',Discount:'" + $(this).find('td').eq(4).text() +
                        "',SubTotal:'" + $(this).find('td').eq(5).text() + "'}";
                } else {
                    envio += ",{Id:'" + $(this).find('td').eq(0).text() +
                        "',Quantity:'" + $(this).find('td').eq(2).text() +
                        "',Discount:'" + $(this).find('td').eq(4).text() +
                        "',SubTotal:'" + $(this).find('td').eq(5).text() + "'}"
                }
                i = 1;
            });
            envio += "]}";

            var json = eval("(" + envio + ')');

            //alertify.alert("INGRESE DATOS");
            console.info(json);

            $.ajax({
                url: "GuardarReserva",
                data: JSON.stringify(json),
                type: "POST",
                async: false,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (response) {
                    alertify.alert(response);
                    valid = response.valid;
                },
                error: function (error) {
                    alertify.alert(error);

                }
            });
        });

    });
    //variables
    var total = 0;
    var valor = 0;
    var subtotal = 0;
    function obtainingProduct(Product) {

        var watchclose = setInterval(function () {
            $("#txtName").val(Product.Name);
            $("#txtPrice").val(Product.Price);            
        });
    }

    function fn_Add() {

        cadena = "<tr>"
        //cadena = cadena + "<td>" + $("#Id").val() + "</td>";
        cadena = cadena + "<td>" + $("#txtName").val() + "</td>";
        cadena = cadena + "<td>" + $("#Quantity").val() + "</td>";
        cadena = cadena + "<td>" + $("#txtPrice").val() + "</td>";
        cadena = cadena + "<td>" + $("#Discount").val() + "</td>";

        var y = 0.0;
        var x = 0.0;
        var des = 0;
        y = $("#Quantity").val();
        x = $("#txtPrice").val();
        x = parseFloat(x);
        des = $("#Discount").val();
        subtotal = (x * y) - des;
        cadena = cadena + "<td>" + subtotal + "</td>"
        cadena = cadena + "<td><a class ='elimina'><button class='btn btn-danger' type='button'><span class='fas fa-trash-alt'></span></button></a></td>";
        $("#detalle tbody").append(cadena);
        sumar();
        fn_dar_Delete();
        ClientClean();
        Clean();
    };
    function Clean() {
        $("#Id").val("");
        $("#txtName").val("");
        $("#txtPrice").val("");
        $("#ListProduct").val("");
        $("#Quantity").val("");
        $("#Discount").val("0");
    }    
    function DetailClean() {
        $("#detalle tbody tr").val("");
    }
    function sumar() {
        total = total + subtotal;
        console.info(total);
        $("#TotalaPagar").val(total);

    }
    function restar() {
        total = total - valor;
        $("#TotalaPagar").val(total);
    }
    function fn_dar_Delete() {
        $("a.elimina").click(function () {
            valor = $(this).parents("tr").find("td").eq(5).html();

            $(this).parents("tr").fadeOut("normal", function () {
                $(this).remove();
                restar();
            });
        });
    };
</script>
@*@using (Html.BeginForm("NewBooking", "Bookings", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {*@
<input style="background-color: inherit;border-style: hidden;color: black;font-size:30px;" class="form-text" type="text" id="id_fecha" readonly value="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day @DateTime.Now.Hour:@DateTime.Now.Minute:@DateTime.Now.Second" />
<h2 style="text-align: center;">RESERVAS</h2>
<form action="javascript:fn_Add()" ; method="post" id="frm_usu" class="form-horizontal">
    <table class="table">
        <tr style="font-size:20px;">
            @*<td>Id <input style="font-size:20px; font-weight:700;" type="text" name="Id" id="Id" class="form-control" value="@ViewBag.product[0].Id" readonly required /></td>*@
            <td>Producto <input style="font-size:20px; font-weight:700;" class="form-control" type="text" id="txtName" value="@ViewBag.product[0].Name" readonly required /></td>
            <td>Precio <input style="font-size:20px; font-weight:700;" type="text" id="txtPrice" class="form-control" value="@ViewBag.product[0].Price" readonly required /></td>
            <td>Descuento <input style="font-size:20px; font-weight:700;" class="form-control" type="number" id="Discount" value="0" onfocus="this.value = '';" required /></td>
            <td>Cantidad <input style="font-size:20px; font-weight:700;" class="form-control" type="number" id="Quantity" value="Ingrese Cantidad" onfocus="this.value = '';" required /></td>
            <td colspan="2"><input class="btn btn-primary btn-lg" type="submit" name="Add" id="Add" value="Agregar" /></td>
            <td>                
                <a href="~/Bookings/ObtainingProduct" rel="pop-up">
                    <input class="btn btn-warning btn-lg col-md-12" type="button" name="enlace_producto" value="Obtener Producto" />
                </a>
            </td>
        </tr>
    </table>
</form>
<table id="detalle" class="lista table" border="1">
    <thead style="font-size:18px;">
        <tr class="bg-success">
            <td>Detalle de la Reserva</td>
        </tr>
        <tr class="bg-danger">
            @*<th>Id</th>*@
            <th>Descripcion del Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Descuento</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div style="float:right;">
    <input class="btn btn-lg" style="background-color: blue; color:white" type="button" id="finalizar" value="Guardar Reserva" />
    <input class="btn btn-lg" style="background-color: red" type="button" onclick="location.reload()" value="Nuevo" />
</div>